@import "~bootstrap/scss/bootstrap";
@import '~dropzone/dist/min/dropzone.min';
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';

html {
    position: relative;
    min-height: 100%;
}

body{
    background: #f3f3f3;
    /* background: #eee; */
    margin: 0 0 100px;
}

a {
    &:hover, &.active {
        text-decoration: none;
    }
}


.ad-details {
    background: #fff;
    padding: 29px;

    #title{
        margin-bottom: 17px;
        font-size: 24px;
    }
    .images{
        // padding: 0 150px;
        .slider-for{
            img{
                margin: auto;
            }
        }
        .slider-nav{
            img{
                height: 225px;;
                width: 100%;
            }
        }
        .slick-prev:before, .slick-next:before{
            color: #000;
        }
        margin-bottom: 18px;
    }
    .footer{
        div:not(:last-child){
            margin-right: 30px;
        }
        font-size: 13px;
        color: #151515;
    }
}

.card{
    .card-body{
        p{
            font-size: 13px;
        }
    }
}

.dropzone{
    border: #007bff 1px solid;
    margin: 16px;
}

.dropzone .dz-preview{
    margin: 6px;
}

.grid-item { 
    width: calc(25% - 10px);
    padding: 0px 5px;
}

.grid-item--width2 { width: 400px; }

.breadcrumb{
    background: #fff0;
}

.badge{
    &.ad-type{
        min-width: 50px !important;
    }
}

.filter-ads{
    display: none;
    padding: 10px;
}

.btn{
    &.btn-outline{
        background: none;
        border: 1px solid #007bff;
        color: #007bff;
    }
}

.form-wrapper{
    background: #fff;
    padding: 20px;
}

.nav-link{
    padding: 4px 8px;
    font-size: 13px;
    margin-right: 3px;
    min-width: 60px;
}
.header, .category-wrapper{
    background: #fff;
    padding: 10px 5px;
}
.header{
    padding: 10px 5px;
}
.header span{
    font-size: 12px;
}
.filters p{
    padding: 0;
    margin: 0;
}
.category-wrapper{
    background: #fff;
    padding: 0;
    margin-top: 3rem;
}
.category-wrapper .category-header{
    /* background: #e91e63; */
    color: #fff;
    padding: 6px 15px;
}
.category-wrapper .category-header h6{
    margin: 0;
}
.category-posts{
    padding: 6px 15px;
}
.post{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #fff;
    padding: 5px;
}
.post .badge{
    font-size: 11px;
    min-width: 20px;
}
.post .post-title{
    font-size: 14px;
}
.post .post-content{
    font-size: 14px;
    margin: 0;
    overflow-wrap: break-word;
}
.post .post-content .post-images img{
    width: 50px;
    height: 50px;
    margin-right: 2px;
}

.post .post-content .fas{
    font-size: 10px;
}

footer{
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
}



@media (max-width: 390px) { 
    .ad-details{
        .title{

        }
        .images{
            .slider-nav{
                img{
                    height: 95px;
                }
            }
        }
        .footer{
            flex-direction: column;
        }
    }

    .grid-item{
        .grid-item{
            width: calc(100% - 10px);
        }
    }
 }


@media (min-width: 250px) { 
    .grid-item{
        width: calc(100% - 10px);
    }
}

@media (min-width: 576px) { 
    .grid-item{
        width: calc(50% - 10px);
    }
 }


@media (min-width: 768px) { 
    .grid-item{
        width: calc(33% - 10px);
    }
}


@media (min-width: 992px) { 
    .grid-item{
        width: calc(25% - 10px);
    }
}
